:root {
  --primary-color: #2563EB;
  --secondary-color: #22C55E;
  --thirty-color: #d1d5e0;
  --gradient-color: linear-gradient(90deg, #1a1f36 0%, #3e4c8a 100%);
  --black-100: rgba(0, 0, 0, 1); /* Full black */
  --black-75: rgba(0, 0, 0, 0.75); /* 75% opacity */
  --black-50: rgba(0, 0, 0, 0.5); /* 50% opacity */
  --black-25: rgba(0, 0, 0, 0.25); /* 25% opacity */
  --black-10: rgba(0, 0, 0, 0.1); /* 10% opacity */
  --black-5: rgba(0, 0, 0, 0.05); /* 5% opacity */
  --warm-gold: #f4b400;
  --hower-effect: #4c70a8;
}

:root {
  --body: 16px;
  --h1: 39px;
  --h2: 31px;
  --h3: 25px;
  --h4: 20px;
  --small: 14px;
}

:root {
  --font-family-base: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --font-family-heading: "Poppins", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
}
